body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.progress {
  background: #ddd;
  border-radius: 20px;
  height: 20px;
  width: 100%;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: green;
  border-radius: 20px;
}
